<div id="modal" class="point-saved">
  <div class="content">
    <img src="/assets/icons/error.svg" alt="Erro ao cadastrar entidade">

    <h1>Erro ao cadastrar entidade</h1>

  </div>
</div>

<script>
  setTimeout(() => {
    history.back();
  }, 1300)
</script>
