<header>
  <img src="/assets/icons/logo.svg" alt="Logo">
  <a href="http://github.com/paulorcvieira" target="_blank">by paulorcvieira</a>
  <a href="/create-point">
    <span></span>
    Cadastre um ponto de coleta
  </a>
</header>
