<header>
  <img src="/assets/icons/logo.svg" alt="Logo Ecoleta">
  <a href="http://github.com/paulorcvieira" target="_blank">by paulorcvieira</a>
  <a href="/">
    <span></span>
    Voltar para home
  </a>
</header>
